body {
    display: flex;
    flex-direction: column;
    margin: 0%;
    background-color: lightgray;
    font-family: 'Bangers';
}

#BattleCard {
    display: flex;
    flex-direction: column;
    margin: 5%;
}

#ChoosePokemonInput {
    flex-direction: column;
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: white;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 15px;
}

#ChoiceLabel {
    margin-bottom: 3%;
    font-size: x-large;
}

#BattleButtonWrapper {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

#Battle {
    border: solid #2a75bb;
    color: #2a75bb;
    border-radius: 15px;
    height: auto;
    width: auto;
    font-size: 3em;
    background-color: white;
    font-family: 'Bangers';
    font-weight: bolder;
  }

  #Battle:hover {
    background-color: #2a75bb;
    color: white;
  }

.pokemonInput {
    margin-left: 5%;
    margin-right: 5%;
}

.pokemonInput input {
    size:50;
    text-align: center
}

.input-error {
    border: solid red 2px;
}

.notFoundError {
    display: flex;
    justify-content: center;
    align-items: center;
}

#ComparisonWrapper {
    margin: 5%;
    margin-top: 0;
}

#Comparison-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 15px;
}

#Comparison-statbars {
    padding: 1%;
}

@keyframes fadeImageIn{
    from { opacity: 0; } to { opacity: 1; };
}

#Pokemon-pics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1%;
    animation-name: fadeImageIn;
    animation-duration: 1.5s;
}

.Pokemon-1 {
    background-color: #2a75bb;
}

.Pokemon-2 {
    background-color: #3b3b3b;
}

