.damage_type_icon {
  width: 2%;
  height: auto;
}

body {
  background-color: lightgray;
  margin: 0px;
}

.search-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 50px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

.search-body > * {
  margin-top: 30px;
  margin-bottom: 30px;
}

.search-body input {
  width: 60%;
  font-size: x-large;
  font-family: 'Boogaloo';
}

.search-body select {
  width: 60%;
  font-size: x-large;
  font-family: 'Boogaloo';
}

.search-body button {
  border: solid #2a75bb;
  color: #2a75bb;
  border-radius: 5%;
  height: auto;
  width: auto;
  font-size: 3em;
  background-color: white;
  font-family: 'Bangers';
  font-weight: bolder;
}


@keyframes fadeMoveIn{
  from { opacity: 0; } to { opacity: 1; };
}

.search-body {
  animation-name: fadeMoveIn;
  animation-duration: 2s;
}

.search-body button:hover {
  background-color: #2a75bb;
  color: white;
}

#move-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.move-card h2 {
  font-family: 'Bangers';
  text-transform: capitalize;
  margin-top: 10px;
}

.card-title {
  font-family: 'Bangers';
  font-weight: bolder;
  text-transform: capitalize;
}

.move-table {
  width: 100%;
  font-size: large;
  font-family: 'Boogaloo';
}

.move-table tr:nth-child(odd) {
  background-color: #2a75bb;
  color: white;
}

.move-label {
  font-weight: bolder;
}

.pikachu-message {
  font-family: 'Bangers';
}

h1 {
  font-family: 'Bangers';
}
