.searchbar {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
}

.searchbar input {
  border-radius: 25px;
  font-family: 'Bangers';
  text-align: center;
}

#pokedex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.flip-card {
  width:45%;
  height: 400px;
  position: relative;
  text-align: center;
  color: #3b3b3b;
  font-size: 45px;
  cursor: pointer;
  background: lightgray;
  margin: 2%;
}

.flip-card .card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: perspective(500px) rotateY(0deg);
  transition: transform 0.55s linear;
  display: flex;
  flex-direction: column;
  font-size: x-large;
  font-family: 'Bangers';
  font-weight: bolder;
  align-items: center;
  text-transform: capitalize;
  background-color: white;
  border-radius: 5%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.flip-card .card-front img {
  width: 9em;
  height: auto;
}

.flip-card .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: perspective(500px) rotateY(180deg);
  transition: transform 0.55s linear;
  overflow: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 5%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-back .info {
  font-size: medium;
  font-family: 'Bangers';
  width: 100%;
  text-transform: capitalize;
}

.card-back .info tr:nth-child(odd) {
  background-color: lightgray;
}

.card-back .info-labels {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-back .info-values {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.card-back .info-value {
  font-family: 'Boogaloo';
}

.section-title {
  font-family: 'Bangers';
  font-size: x-large;
  margin-top: 10%;
  background-color: #2a75bb;
  color: white;
}

.flip-card:hover .card-front {
  transform: perspective(500px) rotateY(-180deg)
}

.flip-card:hover .card-back {
   transform: perspective(500px) rotateY(0deg)
}

.img-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.defense-stats {
  display: flex;
  width: 100%;
}

.defense-stats-table {
  width: 100%;
}

#variety-title {
  display: flex;
  font-family: 'Bangers';
  font-size: large;
  font-weight: bold;
  color: black;
  padding: 10px;
}

.variety p {
  font-family: 'Bangers';
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
}

.varieties {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: center;
}

.extra-info {
  margin: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-transform: capitalize;
}

.variety-name {
  margin: 20%;
  font-size: medium;
  font-family: 'Bangers' ;
}

.variety-pic {
  margin: 20%;
  width: 1em;
  height: auto;
}

.move-info {
  display: flex;
  flex-direction: column;
  font-size: medium;
  font-family: 'Bangers';
}

.move-info p {
  margin: 0;
  text-transform: capitalize;

}

body {
  background-color: lightgray;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
button {
  width: 100px;
  background-color: black;
}

.card > .shiny {
  display: none;
}
.card:hover > .shiny {
  display: block;
  margin: auto;
}
.card:hover > .default {
  display: none;
}

#volume_logo {
  width: 20px;
  height: 20px;
}

#Input {
  font-size: 30px;
  width: 100%;
}

/*Start Pop up Style */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  margin: autp;
  display: flex;
  justify-content: center;
  align-items: center;
}

#CloseButton {
  position: absolute;
  margin: auto;
  top: 350px;
  background-color: wheat;
}
/*End Pop up Style */

.loadmore {
  background-color: white;
  margin: auto;
  width: 100%;
}

.damage_type_icon {
  width: 1%;
  height: auto;
}


