#navbar {
  background-color: red;
  display: flex
}

#navbar h1 {
  font-family: 'Courier New', Courier, monospace;
  outline-color: white;
  color: black;
  margin-left: 25px;
  font-weight: bolder;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 1px;
}

.card {
  list-style: none;
  background-color: #f4f4f4;
  color: #222;
  text-align: center;
}
.card-title {
  font-family: 'Courier New', Courier, monospace;
}
#pokedex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
  padding-inline-start: 0;
  margin-right: 20px;
  margin-left: 20px;
}
body {
  background-color: lightgray;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
button {
  width: 100px;
  background-color: black;
}

.card > .shiny {
  display: none;
}
.card:hover > .shiny {
  display: block;
  margin: auto;
}
.card:hover > .default {
  display: none;
}

#volume_logo {
  width: 20px;
  height: 20px;

}

html,
body {
  cursor: url("../masterball.png"), default;
}

#Input {
  font-size: 30px;
  width: 100%;
}
