.stat-bars-wrapper {
    margin-top: 20px;
    display: flex;
}

.stat-bars {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start; 
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  
.bar {
    animation: ease-in;
    width: var(--bar-value);
    height: 30px;
    background-color: #2a75bb;
    margin-bottom: 2px;
    display: flex;
    justify-content: flex-start;
    color:black;
    font-family: 'Boogaloo';
    font-size: medium;
    align-items: center;
    font-weight: bold;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.bar:hover {
    background-color: lightgray;
    color: black;
}

.stats {
    display: flex;
    flex-direction: row;
  }
  
.stats .labels {
    display: flex;
    flex-direction: column;
    font-size: medium;
    font-family: 'Bangers';
    margin-bottom: 5x;
}

.bar-label {
    font-family: 'Bangers';
    font-size: small;
}
.bar-hp{
    background-color: lightcoral;
}
.bar-attack{
    background-color: lightsalmon;
}
.bar-defense{
    background-color: rgb(245, 245, 35);
}
.bar-s-attack{
    background-color: lightblue;
}
.bar-s-defense{
    background-color: lightgreen;
}
.bar-speed{
    background-color: lightpink;
}